# Python virtual environment
.venv/
venv/

# Database file (keep your data local)
bstn_products.db

# Folder with downloaded images
product_images/

# PyCharm internal settings
.idea/

# Python cache files
__pycache__/
*.py[cod]

# Local OS files
.DS_Store
Thumbs.db

# PyInstaller build files
build/
dist/
*.spec
*.exe